.navbar{
    border-style: solid;  border-width: 2px;
    border-radius: 10px;
    height: 8vh;
    width: 100%;
    background: linear-gradient(90deg, rgb(21, 10, 231) 0%, rgb(231, 216, 6) 35%, rgb(5, 215, 230) 100%);
    
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}


.navbar{
    border-style: solid;  border-width: 2px;
    border-radius: 10px;
}

.navbar:hover{
    transform: scale(1.01);
    transform-style: preserve-3d;
    transition: all 0.4s ease-out;
}


.navbar {
    height: 8vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(236, 4, 93, 0.918) 0%, rgb(162, 7, 133) 35%, rgb(162, 7, 223) 100%);
    border-style: solid;
    text-decoration:none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    transform-style: preserve-3d;
    transition: all 1s ease-out;

    a{
        text-decoration: none;
        color: black;
    }

}



a{
    text-decoration: none;
}

.vb{
    text-decoration: none;
}

.navbar{
    border-style: solid;  border-width: 2px;
    border-radius: 10px;
}

.fiil{
    background-color: aquamarine;
    border-radius: 15px;
    text-align: center;
    margin-right: 220px;
    margin-left: 220px;
}

.kip{
    background-color: greenyellow;
    border-radius: 15px;
    text-align: center;
    margin-right: 220px;
    margin-left: 220px;
}

.kip-ornek{
    background-color: palevioletred;
    border-radius: 15px;
    text-align: center;
    margin-right: 220px;
    margin-left: 220px;
}

.is{
    background-color: yellowgreen;
    border-radius: 15px;
    text-align: center;
    margin-right: 220px;
    margin-left: 220px;
}